.commentList {
    background-color: #111;
    /* Fondo oscuro para toda la sección */
    padding: 3rem 1rem;
    text-align: center;
    height: 100%;
}

.commentList__title {
    color: #99f243;
    /* Verde neón */
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.commentList__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}