.commentCard {
    background-color: #1c1c1c;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.commentCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Texto principal (testimonio) */
.commentCard__text {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 1rem;
    color: #99f243;
    /* Verde neón */
    line-height: 1.4;
    /* font-family: cursive; */
    overflow-wrap: break-word;
    /* Forzar corte si es muy largo */
    word-break: break-word;
    /* Forzar corte entre letras */
    max-width: 100%;
}

/* Autor (nombre en blanco) */
.commentCard__author {
    font-size: 1rem;
    color: #fff;
    margin: 0;
    /* text-align: right; */
}