.event-card {
    position: relative;
    background-color: #1c1c1c;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 4 / 3;
    min-height: 200px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: context-menu;
}

.event-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.event-card__overlay {
    position: relative;
    margin: auto 0 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Botones de gestionar evento */
.event-card__manage {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    display: flex;
    gap: 0.5rem;
}

/* Botón Editar */
.event-card__edit {
    /* background-color: #99f243; */
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-card__edit:hover {
    background-color: yellowgreen;
}

/* Botón Eliminar */
.event-card__delete {
    /* background-color: #f44336; */
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-card__delete:hover {
    background-color: #d32f2f;
}

/* Título */
.event-card__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #99f243;
}

/* Descripción */
.event-card__description {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

/* Fecha */
.event-card__date {
    font-size: 0.9rem;
    color: #ddd;
    margin-bottom: 1rem;
}

/* Botón "Más Información" */
.event-card__actions {
    display: flex;
}

.event-card__button {
    /* background-color: #99f243; */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    color: #87e035;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-card__button:hover {
    /* background-color: #87e035; */
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .event-card__manage {
        top: 0.5rem;
        right: 0.5rem;
        gap: 0.3rem;
    }
}