/* Estilos para la página de Inicio (Home) */

/* ============================== */
/* SECCIÓN HERO                          */
/* ============================== */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    color: white;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5% 10%;
}

.hero__content {
    flex: 1;
    max-width: 600px;
}

.hero__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #99f243;
}

.hero__description {
    font-size: 1rem;
    color: #f1f1f1;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.hero__image {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

/* Responsive */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero__image {
        border: none;
    }
}

/* ============================== */
/* SECCIÓN ARTÍCULOS Y COMENTARIOS */
/* ============================== */

.home__section {
    padding: 1rem 0rem;
}

/* ============================== */
/* ERRORES Y MENSAJES VACÍOS     */
/* ============================== */

.home__error {
    color: red;
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
}

.home__no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    min-height: 10vh;
}

.home__no-data {
    text-align: center;
    color: #99f243;
    font-size: 1rem;
}