/* ========================================================================= */
/* ESTILOS GENERALES PARA LA PÁGINA DE INICIO (HOME) */
/* ========================================================================= */

/* ============================== */
/* SECCIÓN HERO */
/* ============================== */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    color: white;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5% 10%;
}

/* Contenedor de contenido textual dentro del Hero */
.hero__content {
    flex: 1;
    max-width: 600px;
}

/* Título principal del Hero */
.hero__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #99f243;
}

/* Descripción secundaria del Hero */
.hero__description {
    font-size: 1rem;
    color: #f1f1f1;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

/* Contenedor de la imagen del Hero */
.hero__image {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

/* ============================== */
/* RESPONSIVE HERO */
/* ============================== */

@media (max-width: 900px) {

    /* Adaptación del Hero en pantallas pequeñas */
    .hero {
        flex-direction: column;
        text-align: center;
    }

    /* Ajuste visual de la imagen en pantallas pequeñas */
    .hero__image {
        border: none;
    }
}

/* ============================== */
/* SECCIÓN DE ARTÍCULOS Y COMENTARIOS */
/* ============================== */

/* Contenedor general de sección para Artículos y Comentarios */
.home__section {
    padding: 1rem 0rem;
}

/* ============================== */
/* ESTILOS PARA ERRORES Y MENSAJES VACÍOS */
/* ============================== */

/* Estilos para mostrar mensajes de error */
.home__error {
    color: red;
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
}

/* Contenedor de mensajes cuando no hay datos */
.home__no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    min-height: 10vh;
}

/* Mensaje de no disponibilidad de datos */
.home__no-data {
    text-align: center;
    color: #99f243;
    font-size: 1rem;
}