.home__error {
    color: red;
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
}

.home__no-data {
    text-align: center;
    color: #99f243;
    font-size: 1rem;
}

.home__no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    min-height: 10vh;
}

.home__section {
    padding: 4rem 2rem;
}