@import "tailwindcss";

/* ============ RESET GENERAL ============ */

/* Box sizing: border-box para todos los elementos */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Eliminar márgenes y paddings predeterminados */
html,
body {
    margin: 0;
    padding: 0;
}

/* ============ ESTILOS BÁSICOS ============ */

/* Estilo general del body */
body {
    font-family: monospace;
    background-color: black;
    /* color: white; */
}

/* ============ LAYOUT PRINCIPAL ============ */

/* Contenedor general que envuelve las páginas */
.wrapper {
    min-height: 100vh;
    background-color: #000;
}